{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Home</th>
      <th>Away</th>
      <th>Goals Home</th>
      <th>Goals Away</th>
    </tr>
    {% for match in matches %}
    <tr>
      <td>{{ match.id }}</td>
      <td>{{ match.match_date }}</td>
      <td>{{ match.home_team_name }}</td>
      <td>{{ match.away_team_name }}</td>
      <td>{{ match.home_team_score }}</td>
      <td>{{ match.away_team_score }}</td>
      <td>
        <form method="POST" action="{{ url_for('goals_form', match_id=match.id, team_name=match.home_team_name) }}">
            <input type="submit" value="Add goal: Home Team"/>
        </form>
      </td>
      <td> 
        <form method="POST" action="{{ url_for('goals_form', match_id=match.id, team_name=match.away_team_name) }}">
            <input type="submit" value="Add goal: Away Team"/>
        </form>
      </td>

      <td>
        <form method="POST" action="{{ url_for('penalties_form', match_id=match.id, team_name=match.home_team_name) }}">
            <input type="submit" value="Add penalty: Home Team"/>
        </form>
      </td>
      <td> 
        <form method="POST" action="{{ url_for('penalties_form', match_id=match.id, team_name=match.away_team_name) }}">
            <input type="submit" value="Add penalty: Away Team"/>
        </form>
      </td>

    </tr>
    {% endfor %}
  </table>
{% endblock %}