{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('goals_add_goal', match_id=match_id, team_id=team_id) }}">
  <table>
    <tr>
      <td>
        {{ form.time.label }}
      </td>
      <td>
        {{ form.time }}
      </td>
      <td>
        <ul>
          {% for error in form.time.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
        <td>
          {{ form.scorer_name.label }}
        </td>
        <td>
          {{ form.scorer_name }}
        </td>
        <td>
          <ul>
            {% for error in form.scorer_name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>  
    </tr>
    <tr>
        <td>
          {{ form.assistant_1_name.label }}
        </td>
        <td>
          {{ form.assistant_1_name }}
        </td>
        <td>
          <ul>
            {% for error in form.assistant_1_name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>  
    </tr>
    <tr>
        <td>
          {{ form.assistant_2_name.label }}
        </td>
        <td>
          {{ form.assistant_2_name }}
        </td>
        <td>
          <ul>
            {% for error in form.assistant_2_name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>  
    </tr>

    <tr>
      <td colspan="2">
        <input type="submit" value="Add goal"/>
      </td>
    </tr>
  </table>

  <!-- <label for="name">Name (First Surname)</label>
  <input type="text" name="name"/>
  <label for="number">Number</label>
  <input type="text" name="number"/>
  <label for="position">Position (KH,VL,OL,VP,OP,MV)</label>
  <input type="text" name="position"/>
  <input type="submit" value="Add new player"/> -->
</form>
{% endblock %}