{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Team</th>
      <th>Name</th>
      <th>Number</th>
      <th>Position</th>
    </tr>
    {% for player in players %}
    <tr>
      <td>{{ player.team_name }}</td>
      <td>{{ player.name }}</td>
      <td>{{ player.number }}</td>
      <td>{{ player.position }}</td>
      <td>
        <form method="POST" action="{{ url_for('players_change_position', player_id=player.id) }}">
            <input type="text" name="position"/>
            <input type="submit" value="Change position!"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('players_delete', player_id=player.id) }}">
            <input type="submit" value="Delete player"/>
        </form>
      </td>

    </tr>
    {% endfor %}
  </table>
{% endblock %}