{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('players_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
        <td>
          {{ form.number.label }}
        </td>
        <td>
          {{ form.number }}
        </td>
        <td>
          <ul>
            {% for error in form.number.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>  
    </tr>
    <tr>
        <td>
          {{ form.position.label }}
        </td>
        <td>
          {{ form.position }}
        </td>
        <td>
          <ul>
            {% for error in form.position.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>  
    </tr>
    <tr>
      <td>
        {{ form.team_name.label }}
      </td>
      <td>
        {{ form.team_name }}
      </td>
      <td>
          <ul>
            {% for error in form.team_name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>  

  </tr>

    <tr>
      <td colspan="2">
        <input type="submit" value="Add new player"/>
      </td>
    </tr>
  </table>

  <!-- <label for="name">Name (First Surname)</label>
  <input type="text" name="name"/>
  <label for="number">Number</label>
  <input type="text" name="number"/>
  <label for="position">Position (KH,VL,OL,VP,OP,MV)</label>
  <input type="text" name="position"/>
  <input type="submit" value="Add new player"/> -->
</form>
{% endblock %}